<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<form method="POST" action="/save">
			Item: <input type="text" name="some_item" />
			Amount: <input type="text" name="some_amount" />
			<input type="submit" value="Submit" />
		</form>
	</body>
</html>